<!DOCTYPE html>
<html lang="en" ng-app="LunchCheck">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Lunch Checker</title>
    <link rel="stylesheet" href="styles/bootstrap.min.css">
</head>

<body >
    <div class="container" ng-controller="LunchCheckController">
        <h1>Lunch Checker</h1>
        <div class="form-group">
            <input id="lunch-menu" type="text" placeholder="list comma separated dishes you usually have for lunch" class="form-control" ng-model="dishes">
        </div>
        <div class="form-group">
            <button class="btn btn-default" ng-click="checkLunch()">Check If Too Much</button>
        </div>
        <div ng-show="!empty && checked" class="alert alert-success">{{message}}</div>
        <div ng-show="empty" class="alert alert-danger">Please enter data first</div>
    </div>
    <script src="angular.min.js"></script>
    <script src="app.js"></script>
</body>

</html>